.article-section {
  background-color: #7ACDF1;
  padding: 200px 400px 250px 400px;
  background-image: url("https://elmstok.co.uk/images/cloth-linen-blue-channelbind-a4-hard-cover.jpg");
  display: flex;
  height: 240vh;
  flex-direction: column;
}

h1 {
  margin-top: auto;
  font-size: 70px;
  text-align: left;
  margin-right: 40px;
  color: white;
}

.body-text {
  margin-left: auto;
  width: 40vw;
  column-count: 2;
  font-weight: bolder;
  column-gap: 40px;
  font-size: 40px;
  align-items: end;
  line-height: 40px;
  color: papayawhip;
}
