.article-section {
  background-color: #7ACDF1;
  padding: 600px 400px 100px 400px;
  display: flex;
  height: 2000px;
  flex-direction: column;
}

h1 {
  margin-top: auto;
  font-size: 70px;
  text-align: left;
  margin-right: 40px;
  color: white;
}

.body-text {
  margin-left: auto;
  margin-right: 100px;
  width: 30vw;
  column-count: 2;
  font-weight: bolder;
  column-gap: 40px;
  align-items: end;
  text-align: justify;
  line-height: 28px;
}
