.main-text{
    background: url("https://nssdata.s3.amazonaws.com/images/galleries/17428/Together-in-denim-Calvin-Klein-Campagna-FW18-pg-10.jpg") ;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: deepskyblue;
    font-size: 450px;
}

.facts-section-container{
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #DBE2E6;
}

.jeans-image{
    z-index: 100;
    width: 600px;
    height: 721px;
    object-fit: contain;
}

.supporting-text{
    background: url("https://i.pinimg.com/originals/ef/8b/2a/ef8b2ad40498aa24ca1467590710c507.jpg");
    position: absolute;
    width: 400px;
    padding: 50px 100px 50px 100px;
    z-index: 400;
    font-weight: bolder;
    color: darkorchid;
    font-size: 30px;
}
