.most-popular-section-container {
  background: url("https://cdn140.picsart.com/308788748271201.jpg?type=webp&to=min&r=1024");
  display: flex;
  flex-direction: column;
  padding: 40px 400px 40px 400px;
}

.most-popular-section-main {
  width: 100%;
  margin-top: 150px;
}

.most-popular-header {
  text-align: center;
  padding: 0 100px 40px 100px;
  font-size: 40px;
    color: black;
}

section[class*="info-container"] {
  display: grid;
  justify-items: stretch;
  padding: 40px 80px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  align-items: center;
}

section[class*="info-container"] > h1 {
  font-size: 50px;
}

section[class*="info-container"] > div {
  font-weight: bolder;
  font-size: 20px;
  line-height: 30px;
}

.info-container-1 > img,
.info-container-3 > img {
  grid-row: 1/3;
  grid-column: 2/3;
  width: 100%;
  z-index: 0;
}

section[class*="info-container-"] > img {
  height: auto;
  margin-left: auto;
  padding: 0;
  display: flex;
}

.info-container-1 > h1,
.info-container-3 > h1 {
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 200;
  width: 140%;
  margin: 0;
}

.info-container-1 > div,
.info-container-3 > div {
  grid-row: 2/3;
  grid-column: 1/2;
  width: 80%;
}

.info-container-2 > div {
  grid-row: 2/3;
  grid-column: 2/3;
}

.info-container-2 > h1 {
  grid-row: 1/2;
  grid-column: 2/3;
  width: 100%;
  margin-bottom: 100px;
}

.info-container-2 > img {
  grid-row: 1/3;
  grid-column: 1/2;
  margin: 40px 0;
  width: 120%;
  z-index: 0;
  height: auto;
}

.info-container-2 > div,
.info-container-2 > h1 {
  padding-left: 20px;
  z-index: 100;
}
