body{
  background-color: black;
}

.letter-animation-section {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

img {
  padding: 30px;
  width: 120px;
  height: 120px;
  border: none;
}

.letter-1 {
  width: 80px;
}
#padded-space-container{
  height: 100px;
  background-color: black;
}