body {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  padding: 30px;
  width: 120px;
  height: 120px;
  border: none;
}

.letter-1 {
  width: 80px;
}
